ol,
ul {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
}

p {
  align-items: center;
  font-style: normal;
  color: #fff;
  background-color: #591c92;
  padding: 5px;
  margin: 0;
  text-align-last: center;
}

input[name="pokemon"]:hover {
  border-color: #ae83d6;
  transition: 0.2s;
}

input[name="pokemon"] {
  height: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #591c92;
  border-radius: 8px;
  transition: 0.2s;
}

/*----------------Contenedor principal-------------*/

.container {
  border-radius: 4px;
  color: #000;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
}

.poke-list {
  border-radius: 8px;
  color: #000;
  text-align: center;
  margin: 0;
  background-color: #fff;
  border: 1px solid black;
}

.search {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}