<!DOCTYPE html>

<html lang="en">
  <!--------------------------------------------->

  <app-header></app-header>
  <div class="container">
    <input
      Input
      [(ngModel)]="search"
      type="text"
      name="pokemon"
      autocomplete="off"
      (keyup.enter)="SearchPokemon()"
    />
    <main>
      <div class="poke-list">
        <app-poke-table (pokemonName)="CallPokemon($event)"></app-poke-table>
        <li *ngFor="let name; of"></li>
      </div>

      <app-poke-card [pokemon]="pokemon" *ngIf="pokemon"></app-poke-card>


    </main>
  </div>
</html>
