/* You can add global styles to this file, and also import other style files */
html {
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body, h1 {
  margin: 0;
}

.mat-icon-button {
  background-color: transparent;
}
